/* Style ref= "https://technotrampoline.com" */

@font-face {
  font-family: 'EB Garamond';
  src: url(fonts/EBGaramond-Regular.ttf);
}

@font-face {
  font-family: 'Segoe UI';
  src: url(fonts/Segoe\ UI.ttf);
}

@font-face {
  font-family: 'Segoe UI Bold';
  src: url(fonts/Segoe\ UI\ Bold.ttf);
}

* {
  font-family: 'Segoe UI', serif;
  color: rgb(64, 64, 64);
}

h1 {
  font-family: 'EB Garamond', serif;
  font-size: 48px;
  color: rgb(23, 23, 23);
}

body {
  margin: 0px;

}

main {
  padding: 0px 15%;
}

.month-progress-container h1 {
  margin: 0px;
}

/* .month-progress-container button {
  color: rgb(23, 23, 23);
  padding: 3px 5px;
  border-radius: 20px;
  border: 1px solid rgb(23, 23, 23);
} */


.basicBtn {
  background-color: rgb(245, 245, 245);
  color: rgb(236, 72, 153);
  border: none;
  padding: 6px 16px;
  font-size: 16px;
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}

.basicBtn2 {
  background-color: rgb(23, 23, 23);
  color: white;
  border: none;
  padding: 6px 16px;
  font-size: 16px;
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}

a {
  color: rgb(68, 48, 208);
  text-decoration: none;
  /* font-family: 'Segoe UI Bold'; */
}

/* NAVIGATION */

header {
  padding: 0px;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 0px;
  border-bottom: 1px solid rgb(218, 225, 231);
  background-color: rgb(245, 245, 245);
  padding: 0px 120px;

}

.nav-links a {
  margin: 0px 5px;
}

.nav-profile-logo{
  width: 30px;
  height: 30px;
  /* background-color: rgb(64, 64, 64); */
  border: 1px solid rgb(64, 64, 64);
  border-radius: 50%;
  display: inline-block;
  text-align: center;

}